
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update_user</title>
</head>
<body>
    <div>
        @*ID*@
        @{
            foreach (System.Data.DataRow ds in ViewBag.dbmostrar.Rows)
            {
                <form method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">ID</label>

                        <div class="col-sm-9">
                            <input type="text" value="@ds["id"]"  name="id" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*NOMBRE*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Nombre</label>

                        <div class="col-sm-9">
                            <input type="text"  value="@ds["nombre"]" name="nombre" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*EMAIL*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Email</label>

                        <div class="col-sm-9">
                            <input type="text" value="@ds["email"]" name="email" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*PASSWORD*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Password</label>

                        <div class="col-sm-9">
                            <input type="text" value="@ds["password"]" name="password" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*PASSWORD*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Fecha</label>

                        <div class="col-sm-9">
                            <input type="text" value="@ds["fecha"]" name="fecha" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>


                    @*PASSWORD*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Id Rol</label>

                        <div class="col-sm-9">
                            <input type="text" value="@ds["idRol"]" name="idRol" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>


                </form>
            }


        }

    </div>
    @{
        if (TempData["msg"] != null)
        {
            <script>alert('@TempData["msg"]')</script>
        }

    }

</body>
</html>
